{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 style="color: red;text-align:center"> <b>About TerraSentinel</b></h2>
    <p style="color: white;"
>
        TerraSentinel is a BSc project by Ergi Hokja for disaster risk management using AI and real-time data. 
        The system aims to predict earthquakes, floods, and wildfires, providing early warnings and interactive risk monitoring.
    </p>
    <p style="color: white;"
>
        Data sources: NASA, USGS, NOAA, and more.
    </p>
    <p style="color: white;"
>
        For project details, contact: <a href="ergi.hokja@study.beds.ac.uk">ergi.hokja@study.beds.ac.uk</a>
    </p>
</div>
{% endblock %}
